              
* {
margin: 0;
padding: 0;
}                
       
a:link   {
    color: #FFFFFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}


a:visited   {
    color: #FFFFFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}
a:hover     {
    color:#ff0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
a:active    {
    color:#ff0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
                
                
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(http://themes.googleusercontent.com/static/fonts/shadowsintolight/v4/clhLqOv7MXn459PTh0gXYHW1xglZCgocDnD_teV2lMU.woff) format('woff');
}                

@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/marckscript/v5/O_D1NAZVOFOobLbVtW3bcnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt'), local('RockSalt'), url(http://themes.googleusercontent.com/static/fonts/rocksalt/v4/Q94aHXFHGip10K5uxi1jOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/jIXlqT1WKafUSwj6s9AzV6XnXbwdDC8wAz6IIzmCDUP3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}


/*<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->*/



html {
    height: 100%;
    margin: 0px;
    padding: 0px;   
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #7384A1;
    min-height: 100%;
/*}*/
}




















header {
    height: auto;
    padding: 5px 0 10px  0 ;
    /*background: #7384A1;*/
    text-align: center;
    min-width: 300px;
    border-bottom: 2px solid #7384A1;
    
 background-color:#000000;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000, endColorstr=#7384A1);
 background-image:-moz-linear-gradient(top, #000000 0%, #7384A1 44%);
 background-image:-webkit-linear-gradient(top, #000000 0%, #7384A1 44%);
 background-image:-ms-linear-gradient(top, #000000 0%, #7384A1 44%);
 background-image:linear-gradient(top, #000000 0%, #7384A1 44%);
 background-image:-o-linear-gradient(top, #000000 0%, #7384A1 44%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#000000), color-stop(44%,#7384A1));
}

/*header placemnt and fonts*/
            .lt {
                    font-family: 'Marck Script'; 
                    text-align: center;
                    font-size: 500%;
                    line-height: 80%;
                    min-width: 300px;
                    text-shadow: 0.5px 0.5px #FFFFFF;
                    }
                    
                    
            .lb {
                    font-family: 'Oxygen', sans-serif; 
                    text-align: center;
                    font-size: 150%;
                    font-weight: bold;
                    line-height: 60%;
                    min-width: 300px;
                    text-shadow: 0.5px 0.5px #FFFFFF;
                    }
                    
            .ls {
                    /*font-family: 'Oxygen', sans-serif;*/ 
                    /*text-align: center;*/
                    text-align: justify;
                    font-size: 200%;
                    line-height: 80%;
                    min-width: 300px;
                    text-shadow: 
                        1px 1px 1px #FFFFFF,
                        1px -1px #FFFFFF;
                    }
            
            .lr {
                    font-family: 'Oxygen', sans-serif; 
                    text-align: center;
                    font-weight: 900;
                    font-size: 120%;
                    line-height: 60%;
                    min-width: 300px;
                    }

                    
            .nt {
                    text-align: center;
                    }

                    

main {
    width:75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    min-width:400px;
    /*position: relative;*/
    /*min-height:300px;*/
    /*height: 100%;*/
    /*min-height: 85%;*/
    font-family: Verdana,sans-serif;
    padding-top: 20px;
    padding-bottom: 100px;
    /*background: white;*/
}



footer {
    clear: both;
    position: relative;
    width:100%;
    min-width: 300px;
    height:auto;    /*Height of the footer */
    padding: 5px 0 5px 0;
    background: #7384A1;
    text-align: center;
    font-size: 150%;
    border-top: 1px solid #535F74;
    
}

ul.ft1 {
    display: inline;
    margin-left: 0;
    padding-left: 0;
}
ul.ft2 {
/*    display: inline;*/
    margin-left: 0;
    padding-left: 0;
}
ul.ft3 {
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

li.ft02 {
    font: 20px 'Shadows Into Light';
    font-size: 125%;
    display: inline;
    padding: 0 1em 0 0;
}

                
                
/*copyright*/
                .cr{
                    color: whitesmoke;
                    font-size: 40%;
                    text-align: right;
                    bottom: 1%;
                    right: 1%;
                }
  

                
                
.center {   text-align: center; } 


/*contacts page formating*/
form.contact    {   
    width: 500px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
form.reg    {   
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.r      {   text-align: right;color: whitesmoke;}
.e      {   font-size: 60%;  line-height:100%; padding: 0 10px; color: whitesmoke;}
.f      {   font-size: 100%; line-height:100%; padding: 0 10px; color: whitesmoke;}
.pd10   {   padding: 10px;}

input:not([type=submit]):not([type=file]) {
    width: 19em; 
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 1px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 1px 0;
}                
textarea {
    height: 20em;
    width: 35em;
    
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 1px;
    background: rgba(255,255,255,0.5);
    margin: 0 10px;

}


/*Main body content positioning*/               

p.center{
            text-align: center;
}
                
p.center1  {
            /*background: red;*/
            width: 50%;
            font-size: 150%;
            /*float: left;*/   
            text-align: justify; 
            text-indent: 2em;
            clear: both;   
            margin-left: 20%;
            margin-right: 20%;
            padding: 20px 10px;
}
p.left1 {
            /*background: #C6E746;*/
            width: 24%;   
            float: left;
            clear: left;
            font-size: 150%;
            text-align: justify; 
            text-indent: each-line 2em;
            min-width: 200px;
            margin-left: 20%;
            margin-right: 2%;
            padding: 20px 10px;
}
p.right1  {
            /*background: #8C8;*/
            width: 24%;   
            float: right;   
            font-size: 150%;
            text-align: justify; 
            text-indent: each-line 2em;
            min-width: 200px;
            margin-left: 2%;
            margin-right: 20%;
            padding: 20px 10px;
}
p.homepg {
            background: #C6E746;
            width: 45%;   
            float: none;
            clear: left;
            font-size: 150%;
            text-align: center;
            /*text-align: justify;*/ 
            text-indent: each-line 2em;
            min-width: 200px;
            margin-left: 20%;
            margin-right: 20%;
            padding: 20px 10px;
}
p.imgleft1 {
            /*background: #C6E746;*/
            width: 24%;   
            font-size: 150%;
            float: left;   
            text-align: center; 
            clear: left;   
            min-width: 20px;
            margin-left: 20%;
            margin-right: 2%;
            padding: 20px 10px;
}
p.imgright1  {
            /*background: #8C8;*/
            width: 24%;   
            font-size: 150%;
            float: right;   
            text-align: center; 
            /*clear: left;*/   
            min-width: 200px;
            margin-left: 2%;
            margin-right: 20%;
            padding: 20px 10px;
}

div.left {
            text-align: left;
}
div.right {
            text-align: right;
}


div.movieleft1 {
            /*background: #C6E746;*/
            width: 24%;   
            float: left;   
            text-align: center; 
            /*clear: left;*/   
            min-width: 200px;
            margin-left: 20%;
            margin-right: 2%;
            padding: 20px 10px;
}
div.movieright1 {
            /*background: #C6E746;*/
            width: 24%;   
            float: right;   
            text-align: center; 
            /*clear: left;*/   
            min-width: 200px;
            margin-left: 2%;
            margin-right: 20%;
            padding: 20px 10px;
}
div.movieleft2 {
            /*background: #C6E746;*/
            width: 24%;   
            float: left;   
            text-align: center; 
            clear: left;   
            min-width: 200px;
            margin-left: 20%;
            margin-right: 2%;
            padding: 20px 10px;
}
div.movieright2 {
            /*background: #C6E746;*/
            width: 24%;   
            float: right;   
            text-align: center; 
            /*clear: left;*/   
            min-width: 200px;
            margin-left: 2%;
            margin-right: 20%;
            padding: 20px 10px;
}

            img.two{
                border-style: outset;
                border-width: 5px;
                width: 300px;
                height: 300px;
                }

            img.four{
                border-style: outset;
                border-width: 5px;
                width: 300px;
                height: 400px;
                }


            img.five{
                border-style: outset;
                border-width: 5px;
                width: 400px;
                height: 300px;
                }

            img.six{
                border-style: outset;
                border-width: 5px;
                width: 610px;
                height: 300px;
                }

            img.seven{
                border-style: outset;
                border-width: 3px;
                width: 50px;
                height: 50px;
                }
                
            img.homepage{
                border-style: outset;
                border-width: 5px;
                width: 400px;
                height: auto;
                float: left;
                }
/*
            img.four{
                border-style: outset;
                border-width: 5px;
                width: 200px;
                height: 267px;
                }


            img.five{
                border-style: outset;
                border-width: 5px;
                width: 267px;
                height: 200px;
                }

            img.six{
                border-style: outset;
                border-width: 5px;
                width: 407px;
                height: 200px;
                }

            img.seven{
                border-style: outset;
                border-width: 5px;
                width: 200px;
                height: 280px;
                }
                */
                
            video {
                    width: 100%;
                    max-width: 500px;
                    height: auto;
            }    
                
            .audio   {   
                margin-left: 20%;
            }

            audio.center    {
                padding-left: 25%;
            }

            
            
/*rule line that seperates content on each page*/
.hr50 {
    border: 0;
    height: 1.5px;
    clear: both;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
                
                


         
            h1{
                font-family: 'Oxygen', sans-serif;
                color: #38507A;
                font-size: 100%;
                text-align: center;
            }
            h2{
                font-family: 'Oxygen', sans-serif;
                color: #38507A;
                font-size: 200%;
                text-align: center;
              }
            h3{
                font-family: 'Oxygen', sans-serif;
                color: #38507A;
                font-size: 300%;
                text-align: center;
              }

              
              
/********************************************************************
**************---------- Navigation -----------*********************
*********************************************************************
********************************************************************/
              
/*found at 
http://www.dynamicdrive.com/style/csslibrary/item/bold_css_buttons/
*/
              
a.boldbuttons,a.boldbuttons01{
background: transparent url(/image/headlink/roundedge-gray-left.gif) no-repeat top left;
display: block;
float: left;
font: 20px 'Shadows Into Light'; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 30px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;
}

a:link.boldbuttons, a:visited.boldbuttons, a:link.boldbuttons01, a:visited.boldbuttons01 {
color: white; /*button text color*/
}

a:hover.boldbuttons, a:hover.boldbuttons01 {
    color: #ff0;
}


a:hover.boldbuttons, a:active.boldbuttons,a:hover.boldbuttons01, a:active.boldbuttons01 {
background: transparent url(/image/headlink/roundedge-red-left.gif) no-repeat top left;
display: block;
float: left;
font: 20px 'Shadows Into Light'; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 30px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;
}

a:hover.boldbuttons span, a:active.boldbuttons span, a:hover.boldbuttons01 span, a:active.boldbuttons01 span {
background: transparent url(/image/headlink/roundedge-red-right.gif) no-repeat top right;
display: block;
padding: 4px 12px 4px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
min-width: 5em;
/*clear: both;*/
}

a.boldbuttons span,a.boldbuttons01 span{
background: transparent url(/image/headlink/roundedge-gray-right.gif) no-repeat top right;
display: block;
padding: 4px 12px 4px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
min-width: 5em;
/*clear: both;*/
}

a:hover.boldbuttons, a:hover.boldbuttons01 { /* Hover state CSS */
text-decoration: underline;
}


.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 46em;
/*background: #090;*/
/*clear: both;*/
margin-left: auto;
margin-right: auto;
/*padding-left: 0.5em;
padding-right: 0.5em;*/
} 
.buttonwrappermain{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 46em;
background: #090;
clear: both;
margin-left: auto;
margin-right: auto;
/*padding-left: 0.5em;
padding-right: 0.5em;*/
padding-left: auto;
padding-right: auto;
text-align: center;

    
} 

               
/********************************************************************
**************----------   Tablet    -----------*********************
*********************************************************************
********************************************************************/
                
                
                

/* tablets  ----------- */
    @media only screen and (min-width: 581px) and (max-width: 801px) {


main {  
/*        background: white;*/
        width: 90%;
        min-width: 581px;
        padding: 5%;
        margin-left: 0;
        margin-right: 0;

}


p.center1  {
/*            background: red;*/
            width: 100%;   
            font-size: 125%;
            float: none;   
            text-align: justify; 
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
            text-indent: 2em;
}
p.left1 {
/*            background: #C6E746;*/
            width: 45%;   
            font-size: 125%;
            float: left;   
            text-align: justify; 
            text-indent: 2em;
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
}
p.right1  {
/*            background: #8C8;*/
            width: 45%;   
            font-size: 125%;
            float: left;   
            text-align: justify; 
            text-indent: 2em;
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
}
p.imgleft1 {
/*            background: #C6E746;*/
            width: 45%;   
            float: left;   
            text-align: center; 
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
}
p.imgright1  {
/*            background: #8C8;*/
            width: 45%;   
            float: left;   
            text-align: center; 
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
}

div.movieleft1 {
/*            background: #C6E746;*/
            width: 45%;   
            float: left;   
            text-align: center; 
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
}

p.homepg {
/*            background: #8C8;*/
            width: 45%;   
            font-size: 125%;
            /*text-align: justify;*/ 
            text-indent: 2em;
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
}



.hr50 {
    border: 0;
    height: 3px;
    clear: both;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

            .audio   {   
                margin-left: 0;
            }

            audio.center    {
                padding-left: 0;
                padding-right: 0;
            }

            img.six{
                border-style: outset;
                border-width: 5px;
                width: 300px;
                height: 148px;
                }

            img.two{
                border-style: outset;
                border-width: 5px;
                width: 200px;
                height: 200px;
                }

            img.four{
                border-style: outset;
                border-width: 5px;
                width: 200px;
                height: 267px;
                }


            img.five{
                border-style: outset;
                border-width: 5px;
                width: 267px;
                height: 200px;
                }

            img.homepage{
                border-style: outset;
                border-width: 5px;
                width: auto;
                height: auto;
                /*clear: both;*/
                }

/*            img.six{
                border-style: outset;
                border-width: 5px;
                width: 407px;
                height: 200px;
                }*/

            img.seven{
                border-style: outset;
                border-width: 5px;
                width: 200px;
                height: 280px;
                }
                
                video {
                    width: 100%;
                    height: auto;
            } 
                

/*contacts page formating for mobile*/ 

form.contact    {   
    max-width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 0;
}
form.reg    {   
    max-width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 0;
}
input:not([type=submit]):not([type=file]) {
    width: 95%; 
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 1px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 1px 0;
}     

textarea {
    height: 20em;
    width: 84%;
}

a:hover.boldbuttons span, a:active.boldbuttons span, a.boldbuttons span,a:hover.boldbuttons01 span, a:active.boldbuttons01 span, a.boldbuttons01 span{
min-width: 4em;
}

/*a.boldbuttons01,a:hover.boldbuttons01, a:active.boldbuttons01{
clear: both;
}*/

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 19.5em;
/*background: #090;*/
clear: both;
margin-left: auto;
margin-right: auto;
padding: 2%;
/*padding-right: 2%;*/

} 


/*footer*/
ul.ft1 {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
ul.ft2 {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
ul.ft3 {
    display: block;
    margin-left: 0;
    padding-left: 0;
}

li.ft02 {
    display: inline;
    padding: 0 .5em 0 0;
    font-size: 100%;
}

                
}
                
                
/********************************************************************
**************---------- Smartphones -----------*********************
*********************************************************************
********************************************************************/
                
                
                

/* Smartphones (portrait) ----------- */
    /*@media only screen and (max-width : 1223px) {*/
    @media only screen and (max-width : 580px) {


main {  
        /*background: white;*/
        width: 90%;
        min-width: 300px;
        padding: 5%;
        margin-left: 0;
        margin-right: 0;

}


p.center1  {
            /*background: red;*/
            width: 100%;   
            font-size: 100%;
            float: none;   
            text-align: justify; 
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
            text-indent: 2em;
}
p.left1 {
            /*background: #C6E746;*/
            width: 100%;   
            font-size: 100%;
            float: none;   
            text-align: justify; 
            text-indent: 2em;
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
}
p.right1  {
            /*background: #8C8;*/
            width: 100%;   
            font-size: 100%;
            float: none;   
            text-align: justify; 
            text-indent: 2em;
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
}
p.imgleft1 {
            /*background: #C6E746;*/
            width: 100%;   
            float: none;   
            text-align: center; 
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
}
p.imgright1  {
            /*background: #8C8;*/
            width: 100%;   
            float: none;   
            text-align: center; 
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
}
p.homepg {
            /*background: #C6E746;*/
            width: 100%;   
            font-size: 100%;
            float: none;   
            /*text-align: justify;*/ 
            text-indent: 2em;
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
}

div.movieleft1 {
            /*background: #C6E746;*/
            width: 100%;   
            float: none;   
            text-align: center; 
            clear: both;   
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
}



.hr50 {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

            .audio   {   
                margin-left: 0;
            }

            audio.center    {
                padding-left: 0;
                padding-right: 0;
            }

            img.homepage{
                border-style: outset;
                border-width: 5px;
                width: auto;
                height: auto;
                clear: both;
                }


            img.six{
                border-style: outset;
                border-width: 5px;
                width: 300px;
                height: 148px;
                }
                
                video {
                    width: 100%;
                    height: auto;
            } 


/*contacts page formating for mobile*/ 

form.contact    {   
    max-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 0;
}
form.reg    {   
    max-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0;
    padding-right: 0;
}
input:not([type=submit]):not([type=file]) {
    width: 95%; 
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 1px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 1px 0;
}     

textarea {
    height: 20em;
    width: 90%;
}

a:hover.boldbuttons span, a:active.boldbuttons span, a.boldbuttons span,a:hover.boldbuttons01 span, a:active.boldbuttons01 span, a.boldbuttons01 span{
min-width: 4em;
}

a.boldbuttons01,a:hover.boldbuttons01, a:active.boldbuttons01{
clear: both;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 19.5em;
/*background: #090;*/
clear: both;
margin-left: auto;
margin-right: auto;
padding: 2%;
/*padding-right: 2%;*/

} 

/*footer*/
ul.ft1 {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
ul.ft2 {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
ul.ft3 {
    display: block;
    margin-left: 0;
    padding-left: 0;
}

li.ft02 {
    display: inline;
    padding: 0 .1em 0 0;
    font-size: 75%;
}

                
}





                

                
/*This CSS will go away after course compleation*/                
                
            .dparcticelink{
                font-size: 150%;  
                text-align: center; 
                margin-left: auto;
                margin-right: auto;
                }
                
                
